@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(deee.png)no-repeat;
  background-size: cover;
  background-position: center;
}

header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .TheLabCoatDiaries{
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: beige;
}


header .nav a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2px 10px;
  border-radius: 20px;
  transition: 0.2s;
  transition-property: background;
}

header .nav a:not(:last-child){
  margin-right: 50px;
}

header .nav a:hover{
  background: beige;
}

.content{
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h2{
  color: rgb(255, 255, 255);
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span{
  color: rgb(255, 255, 255);
  font-size: 70px;
  font-weight: 800;
}

.media-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.media-icons a{
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 25px;
  transition: 0.3s;
  transition-property: transform;
}

.media-icons a:not(:last-child){
  margin-right: 50px;
}

.media-icons a:hover{
  transform: scale(2.0);

}